<% include ../parts/head %>

<link href="/media/dashboard/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />

<% include ../parts/bodyStartWithSocial %>

<div id="entity-public" class="container">
    <div class="row-fluid primary" id="page-header">
        <div class="wrapper">
            <div class="span12">
                <div class="row-fluid header-parts nomargin">
                    <div class="span5">
                        <h3>
                        	<% if (getValueOrEmpty(entity.get('nickname')) != '') { %>
				                <%= entity.get('nickname') %>
				            <% } else if (getValueOrEmpty(entity.get('krowdioUserId')) != '') { %>
				                #<%= entity.get('krowdioUserId') %>
				        	<% } else { %>
				                Anonymous
				            <% } %>
                        </h3>
                    </div>

                    <div class="span4 offset3">
                        <ul class="breadcrumb path">
                            <li>
                                <a href="/"><i class="icon-home"></i></a> <span class="divider"> <i class="icon-chevron-right"></i> </span>
                            </li>
                            <li class="active">
                            	<strong>
									<% if (getValueOrEmpty(entity.get('nickname')) != '') { %>
						                <%= entity.get('nickname') %>
						            <% } else if (getValueOrEmpty(entity.get('krowdioUserId')) != '') { %>
						                #<%= entity.get('krowdioUserId') %>
						        	<% } else { %>
						                Anonymous
						            <% } %>
		                        </strong>
		                    </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid margin-bottom5">
        <div class="span6">
        	<div class="row-fluid">
        		<div class="span3">
		            <% if (entity.get('profileImageThumb')) { %>
		            	<img src="<%= entity.get('profileImageThumb') %>" class="entity-logo" />
		            <% } else { %>
		            	<i class="icon-male icon-128 no-padding"></i>
		            <% } %>
	            </div>
	            <div class="span9 user-social-buttons">
	            	<% if (entity.get('facebook')) { %>
	            		<a href="<%- entity.get('facebook') %>"><i class="icon-facebook-sign"></i></a>
	            	<% } %>
	            	
	            	<% if (entity.get('twitter')) { %>
	            		<a href="<%- entity.get('twitter') %>"><i class="icon-twitter-sign"></i></a>
	            	<% } %>
	            	
	            	<% if (entity.get('googlePlus')) { %>
	            		<a href="<%- entity.get('googlePlus') %>"><i class="icon-google-plus-sign"></i></a>
	            	<% } %>
	            </div>
            </div>
            <div class="row-fluid">
			    <h4>Fan Profile:</h4>
			    <%= getValueOrEmpty(entity.get('freeText')) %>
            </div>
        </div>
        <div class="span6">
        	<div class="row-fluid">
	            <a href="#" class="btn btn-spud-orange btn-large btn-follow pull-right">
	                <i class="icon-microphone icon-3"></i>
	                Follow
	            </a>
            </div>
			<div class="row-fluid">
				<% if (spuds.items.length > 0) { %>
				    <div class="carousel slide" id="spud-carousel">
			        	<div class="carousel-inner">
				           	<% spuds.items.forEach(function(spud, i) { %>
				           		<div class="item <% if (i == 0) { %>active<% } %> <%- i %>">
									<%- spudContainer(spud, true, getValueOrEmpty, entity, []) %>
								</div>
							<% }) %>
						</div>
						
						<a class="carousel-control left" href="#spud-carousel" data-slide="prev">&lsaquo;</a>
			  			<a class="carousel-control right" href="#spud-carousel" data-slide="next">&rsaquo;</a>
	  				</div>
  				<% } %>
			</div>
       </div>
    </div>
</div>

<% include ../parts/foot %>

<% include ../parts/scripts %>

        <script type="text/javascript" src="/media/dashboard/js/jquery-ui-1.10.3.custom.min.js"></script>
        <script type="text/javascript" src="/media/js/switches.js"></script>
        <script type="text/javascript" src="/media/js/spud-container.js"></script>
        <script type="text/javascript" src="/media/js/spud-container-utils.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
            	
                $('.ui-slider-green').slider({
                    orientation: "horizontal",
                    range: "min",
                    max: 100,
                    value: 50
                });
                
                var user = {
					'nickname' : '<%- getValueOrEmpty(entity.get("nickname")) %>',
					'krowdioUserId' : '<%- getValueOrEmpty(entity.get("krowdioUserId")) %>',
					'profileImageThumb' : '<%- getValueOrEmpty(entity.get("profileImageThumb")) %>'
				};
                <% if (user) { %>
                	applyAddCommentListener(user);
                	applyPopulateCommentsListener('User');
                	getLikes('User');
                	$('#spud-carousel').on('slid', function() {
					    getLikes('User');
					});
                <% } else { %>
                	overwriteListeners();
                <% } %>
            });
        </script>
    </body>
</html>