<% include ../parts/head %>

<% include ../parts/bodyStart %>

<div id="amazon-root"></div>
<script type="text/javascript">
    window.onAmazonLoginReady = function() {
        amazon.Login.setClientId('<%= loginWithAmazonClientID %>');
    };
    (function(d) {
        var a = d.createElement('script'); a.type = 'text/javascript';
        a.async = true; a.id = 'amazon-login-sdk';
        a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
        d.getElementById('amazon-root').appendChild(a);
    })(document);
</script>

<div id="registration" class="accounts-form-container">
    <div class="accounts-form-header">
        <h4 id="mySignupModalLabel">Create an <strong>account</strong></h4>
    </div>
    <div class="accounts-form-body">
        <form class="form-horizontal" action="/accounts/register" id="registration-form" method="POST">
            <% if (typeof error != 'undefined') { %>
            <div class="alert alert-error"><%= error %></div>
            <% } %>

            <input type="hidden" name="acceptInvitation" value="" />

            <div class="control-group">
                <label class="control-label" for="registerEmail">E-mail</label>
                <div class="controls">
                    <input type="text" id="registerEmail" placeholder="E-mail" name="email" value="<%= email %>">
                    <span class="help-inline errors" for="email"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="registerPassword1">Password</label>
                <div class="controls">
                    <input type="password" id="registerPassword1" placeholder="Password" name="password1" value="<%= password1 %>">
                    <span class="help-inline errors" for="password1"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="registerPassword2">Confirm Password</label>
                <div class="controls">
                    <input type="password" id="registerPassword2" placeholder="Password" name="password2" value="<%= password2 %>">
                    <span class="help-inline errors" for="password2"></span>
                </div>
            </div>

            <input type="hidden" name="returnURL" <% if (typeof returnURL != 'undefined') { %>value="<%= returnURL %>"<% } %>>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-orange">Sign up</button>
                    <div class="loading">
                        <img src="/media/img/ajax-loader.gif" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <p class="aligncenter">
                    <strong>
                        You can also use Amazon account!
                    </strong>
                </p>
                <p class="aligncenter">
                    <a href="#" id="RegisterWithAmazon">
                        <img border="0" alt="Register with Amazon"
                             src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
                             width="156" height="32" />
                    </a>
                </p>
            </div>
            <div class="control-group">
                <p class="aligncenter margintop20">
                    Already have an account? <a href="/accounts/login">Sign in</a>
                </p>
            </div>
        </form>
    </div>
</div>

<% include ../parts/foot %>

<% include ../parts/scripts %>

<script type="text/javascript">
    document.getElementById('LoginWithAmazon').onclick = function() {
        options = { scope : 'profile' };
        amazon.Login.authorize(options, '<%= baseURL %>/accounts/amazon_register');
        return false;
    };
</script>

    </body>
</html>