<% include ../parts/head %>

<link href="/media/dashboard/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />

<% include ../parts/bodyStartWithSocial %>

<div id="team" class="container">
    <div class="row-fluid primary" id="page-header">
        <div class="wrapper">
            <div class="span12">
                <div class="row-fluid header-parts nomargin">
                    <div class="span3">
                        <h3><%= team.get('name') %></h3>
                    </div>

                    <div class="span5 navigation-buttons">
                        <a class="btn btn-spud-orange" href="#" title="Home Venue"><i class="icon-map-marker icon-20"></i></a>
                        <a class="btn btn-spud-orange" title="Players" id="team-players-btn"><i class="icon-user"></i></a>
                        <a class="btn btn-spud-orange" title="Coaches" id="team-coaches-btn"><i class="icon-bullhorn"></i></a>
                        <a class="btn btn-spud-orange" href="#" title="Schedule"><i class="icon-calendar"></i></a>
                        <div class="btn-group">
                            <a class="btn btn-spud-orange dropdown-toggle" data-toggle="dropdown" href="#" title="League">
                                <i class="icon-sitemap icon-20"></i>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">League option 1</a></li>
                                <li><a href="#">League option 2</a></li>
                                <li><a href="#">League option 3</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-spud-orange dropdown-toggle" data-toggle="dropdown" href="#" title="Tournaments">
                                <i class="icon-trophy icon-20"></i>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Tournaments option 1</a></li>
                                <li><a href="#">Tournaments option 2</a></li>
                                <li><a href="#">Tournaments option 3</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="span4">
                        <ul class="breadcrumb path">
                            <li>
                                <a href="#"><i class="icon-home"></i></a> <span class="divider"> <i class="icon-chevron-right"></i> </span>
                            </li>
                            <li>
                                <a href="#">Team</a> <span class="divider"> <i class="icon-chevron-right"></i> </span>
                            </li>
                            <li class="active"><strong><%= team.get('name') %></strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid <% if (team.get('profileImageThumb')) { %>nomargin <% } %>header-logo-with-actions">
        <div class="span12">
            <% if (team.get('profileImageThumb')) { %>
            <img src="<%= team.get('profileImageThumb') %>" class="team-logo" />
            <% } else { %>
            <i class="icon-group"></i>
            <% } %>

            <a href="#" class="btn btn-spud-orange btn-large btn-follow pull-right">
                <i class="icon-microphone icon-3"></i>
                Follow
            </a>

            <a href="/teams/<%= team.id %>/offers" class="btn btn-spud-orange btn-large btn-sponsor pull-right">
                <i class="icon-money icon-3"></i>
                Sponsor
            </a>
        </div>
    </div>
    <% if (sponsors.length) { %>
    <div class="row-fluid nomargin">
        <div class="span12">
            <%- displaySponsors('sponsors-items', '', sponsors) %>
        </div>
    </div>
    <% } %>
    <div class="row-fluid">
        <div class="span6">
            <div class="row-fluid span10" id="team-players">
                <h4>Players:</h4>
                <% if (players.length) { %>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Name</th>
                            <th>Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% players.forEach(function(player) { %>
                        <tr>
                            <td>
                                #<%= player.get('number') %>
                            </td>
                            <td>
                                <% if (player.get('isDisplayPublicly')) { %>
                                    <a href="/public/Player/<%= player.id %>">
                                        <%= player.get('publicName') %>
                                    </a>
                                <% } else { %>
                                    <%= player.get('name') %>
                                <% } %>
                            </td>
                            <td>
                                <%= player.get('position') %>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                <% } else { %>
                <p>This team has no players</p>
                <% } %>
            </div>

            <div class="row-fluid span10" id="team-coaches">
                <h4>Coaches:</h4>
                <% if (coaches.length) { %>
                <table class="table-condensed">
                    <tbody>
                    <% coaches.forEach(function(coach) { %>
                    <tr>
                        <td>
                            <% if (coach.get('isDisplayPublicly')) { %>
                            <a href="/public/Coach/<%= coach.id %>">
                                <%= coach.get('publicName') %>
                            </a>
                            <% } else { %>
                                <%= coach.get('name') %>
                            <% } %>
                        </td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
                <% } else { %>
                <p>This team has no coaches</p>
                <% } %>
            </div>

            <div class="row-fluid span12" id="team-details">
                <h4>Team Details:</h4>
                <dl class="dl-horizontal">
                    <dt>Location:</dt>
                    <dd><%= team.get('location') %></dd>
                    <dt>Contact Details:</dt>
                    <dd><%= team.get('contact') %></dd>
                    <dt>Team Profile:</dt>
                    <dd><%= team.get('profile') %></dd>
                    <dt>Website:</dt>
                    <dd><a href="<%= team.get('website') %>"><%= team.get('website') %></a></dd>
                    <dt>Email:</dt>
                    <dd><%= team.get('email') %></dd>
                    <dt>Home Venue:</dt>
                    <dd><%= team.get('homeVenue') %></dd>
                </dl>
            </div>
        </div>

        <div class="span6">
        	<% if (spuds.items.length > 0) { %>
			    <div class="carousel slide" id="spud-carousel">
		        	<div class="carousel-inner">
			           	<% spuds.items.forEach(function(spud, i) { %>
			           		<div class="item <% if (i == 0) { %>active<% } %> <%- i %>">
								<%- spudContainer(spud, true, getValueOrEmpty, user) %>
							</div>
						<% }) %>
					</div>
					
					<a class="carousel-control left" href="#spud-carousel" data-slide="prev">&lsaquo;</a>
		  			<a class="carousel-control right" href="#spud-carousel" data-slide="next">&rsaquo;</a>
  				</div>
			<% } %>
        </div>
    </div>
</div>

<% include ../parts/foot %>

<% include ../parts/scripts %>

        <script type="text/javascript" src="/media/dashboard/js/jquery-ui-1.10.3.custom.min.js"></script>
        <script type="text/javascript" src="/media/js/switches.js"></script>
        <script type="text/javascript" src="/media/js/spud-container.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
            	$('#spud-carousel').carousel({
            		interval: false
            	});
            	
                $('.ui-slider-green').slider({
                    orientation: "horizontal",
                    range: "min",
                    max: 100,
                    value: 50
                });

                $("#team-coaches-btn").click(function () {
                    $("#team-coaches").show();
                });

                $("#team-players-btn").click(function () {
                    $("#team-players").show();
                });
            });
        </script>
    </body>
</html>