<h4><%= title %></h4>
<ul id="<%= id %>" class="jcarousel-skin-tango recent-jcarousel clients display-sponsors">
    <% sponsors.forEach(function(sponsor) { %>
    <li>
        <% if (sponsor.page != undefined) { %>
            <a href="/sponsors/<%= sponsor.id %>">
                <% if (sponsor.page.get('thumbnail')) { %>
                    <img src="<%= sponsor.page.get('thumbnail') %>" class="sponsor-logo" />
                <% } else if (sponsor.get('profileImageThumb')) { %>
                    <img src="<%= sponsor.get('profileImageThumb') %>" class="sponsor-logo" />
                <% } else { %>
                    <i class="icon-group"></i>
                <% } %>
            </a>
        <% } else { %>
            <a href="javascript:void(0);">
                <% if (sponsor.get('profileImageThumb')) { %>
                    <img src="<%= sponsor.get('profileImageThumb') %>" class="sponsor-logo" />
                <% } else { %>
                    <i class="icon-group"></i>
                <% } %>
            </a>
        <% } %>
    </li>
    <% }) %>
</ul>