<% include ../parts/head %>

<% include ../parts/bodyStart %>

<div id="invitations-list">
	<div class="alert"></div>
	
    <p class="head">
        <i class="icon-bell-alt"></i> Invitations
    </p>

    <% if (list.length) { %>
    <table class="table table-hovered">
        <thead>
            <tr>
                <th>Inviting</th>
                <th>Invited to be an admin of</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <% list.forEach(function(inv) { %>
            <tr>
                <td>
            		<%= inv.invitingName %> [ <%= inv.invitingEmail %> ]
            	</td>
                <td>
                	<%= inv.get('entity').className %>: 
                	<%= inv.get('entityName') %>
                </td>
                <td>
                	<%= convertDate(inv.createdAt) %>
                </td>
                <td>
					<a class="btn btn-small btn-success margin-right5" href="/acceptEntityInvitation/<%= inv.id %>">Accept</a>
					<a class="btn btn-small btn-danger" href="/rejectEntityInvitation/<%= inv.id %>">Reject</a>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    <% } %>
</div>

<% include ../parts/scripts %>

<script type="text/javascript" src="/media/js/entityAlerts.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#remove-button').click(function(e) {
			if ( !confirm('Are you sure?') ) {
				e.preventDefault();
			}
		});
	});
</script>

<% include ../parts/foot %>