<% include ../../parts/head %>

<link rel="stylesheet" href="/media/dashboard/css/chosen.css" />

<% include ../../parts/bodyStart %>

<div id="teams-offers-list">
    <p class="head">
        <i class="icon-group"></i> Sponsorship Offers
        <a href="/dashboard/teams/<%= team.id%>/offers/create" class="btn btn-success btn-small">Create offer</a>
    </p>

    <% if (count) { %>
        <% if (currentOffers.length) { %>
        <h3>Active offers:</h3>
        <table class="table table-hovered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="quantity">Quantity</th>
                    <th class="end-date">End Date</th>
                    <th class="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
            <% currentOffers.forEach(function(offer) { %>
                <tr>
                    <td><a href="/teams/<%= team.id %>/offers/<%= offer.id %>"><%= offer.get('title') %></a></td>
                    <td class="quantity">
                        <%= offer.get('quantity') %> / <%= offer.get('quantity') %>
                    </td>
                    <td class="end-date"><%= offer.get('endDate') %></td>
                    <td class="actions">
                        <a class="btn btn-mini btn-lightgrey btn-action" href="/dashboard/teams/<%= team.id %>/offers/<%= offer.id %>/donations" title="Donations">
                            <i class="icon-dollar"></i>
                        </a>
                        <a class="btn btn-mini btn-lightgrey btn-action" href="/dashboard/teams/<%= team.id %>/offers/<%= offer.id %>/edit" title="Edit">
                            <i class="icon-edit"></i>
                        </a>
                        <a class="btn btn-mini btn-lightgrey btn-action" href="/dashboard/teams/<%= team.id %>/offers/<%= offer.id %>/remove" title="Remove" id="remove-button">
                            <i class="icon-trash"></i>
                        </a>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
        <% } %>

        <% if (pastOffers.length) { %>
        <h3>Past offers:</h3>
        <table class="table table-hovered">
            <thead>
            <tr>
                <th>Title</th>
                <th class="quantity">Quantity</th>
                <th class="end-date">End Date</th>
                <th class="actions">Actions</th>
            </tr>
            </thead>
            <tbody>
            <% pastOffers.forEach(function(offer) { %>
            <tr>
                <td><a href="/teams/<%= team.id %>/offers/<%= offer.id %>"><%= offer.get('title') %></a></td>
                <td class="quantity">
                    <%= offer.get('quantity') %> / <%= offer.get('quantity') %>
                </td>
                <td class="end-date"><%= offer.get('endDate') %></td>
                <td class="actions">
                    <a class="btn btn-mini btn-lightgrey btn-action" href="/dashboard/teams/<%= team.id %>/offers/<%= offer.id %>/donations" title="Donations">
                        <i class="icon-dollar"></i>
                    </a>
                    <a class="btn btn-mini btn-lightgrey btn-action" href="/dashboard/teams/<%= team.id %>/offers/<%= offer.id %>/remove" title="Remove" id="remove-button">
                        <i class="icon-trash"></i>
                    </a>
                </td>
            </tr>
            <% }) %>
            </tbody>
        </table>
        <% } %>
    <% } else { %>
        <p>There are no offers created for <%= team.get('name') %> team.</p>
    <% } %>
</div>

<% include ../../parts/scripts %>

<% include ../../parts/foot %>