<% include ../parts/head %>

<link rel="stylesheet" href="/media/dashboard/css/chosen.css" />

<% include ../parts/bodyStart %>

<div id="entity-create">
    <p class="head">
        <i class="icon-user"></i> Player details:
    </p>

	<% if (errors.length > 0) { %>
	    <div class="alert alert-error">
			<%= errors %>
	    </div>
	<% } %>

    <form action="/dashboard/createEntity/Player" method="post" id="create-player-form" class="form-horizontal">
    	<input type="hidden" name="jsKey" value="<%= keys.jsKey %>" />
    	<input type="hidden" name="appId" value="<%= keys.appId %>" />
    	
    	<div class="control-group">
            <label class="control-label" for="name">Name (Nickname):</label>
            <div class="controls">
                <input tabindex="1" name="name" id="name" />
                <span class="input-required">*required</span>
                <input tabindex="15" type="checkbox" name="hide-publicly" /> <span class="hide-publicly-text">Do NOT display publicly</span>
            </div>
    	</div>
    	
    	<div class="control-group">
            <label class="control-label" for="location">Home Zip:</label>
            <div class="controls">
                <input tabindex="2" name="location" id="location" />
                <span class="input-required" title="But never displayed, simply used to speed search">*required</span>
            </div>
    	</div>
    	
    	<div class="control-group">
            <label class="control-label" for="team">Team:</label>
            <div class="controls">
                <input tabindex="3" name="team" id="team" />
            </div>
    	</div>
    	
    	<div class="control-group">
            <label class="control-label" for="sport">Sport:</label>
            <div class="controls">
                <select name="sport">
                    <option value="football">Football</option>
                    <option value="soccer">Soccer</option>
                </select>
            </div>
    	</div>
    	
    	<div class="control-group">
            <label class="control-label" for="number">Number and Position:</label>
            <div class="controls">
                <input name="number" class="player-number" />
        		<input name="position" class="player-position" />
            </div>
    	</div>
        <div class="control-group">
            <label class="control-label" for="admins">Admins:</label>
            <div class="controls">
                <input name="admins" id="admins" placeholder="Enter emails..." />
            </div>
    	</div>
    	
    	<div class="control-group">
            <label class="control-label" for="contact-details">Player Contact Details:</label>
            <div class="controls">
                <input name="contact-details" id="contact-details" />
            </div>
    	</div>
    	
    	<div class="control-group">
            <label class="control-label" for="profile">Player Profile:</label>
            <div class="controls">
                <textarea name="profile" rows="2" id="profile">&nbsp;</textarea>
            </div>
    	</div>
    	
    	<div class="control-group">
            <label class="control-label" for="profile-picture-input">Profile Picture:</label>
            <div class="controls">
                <input type="hidden" name="profileImageThumb" />
            	<input type="file" id="profile-picture-input" accept="image/*" />
            </div>
    	</div>

		<div class="control-group">
            <div class="controls">
                <button class="btn btn-orange" type="submit">Save</button>
            </div>
    	</div>
    </form>
</div>

<% include ../parts/scripts %>

<script src="/media/dashboard/js/jquery.validate.js"></script>
<script src="/media/dashboard/js/additional-methods.min.js"></script>
<script src="/media/js/parse.js"></script>
<script src="/media/dashboard/js/bootstrap-tag.min.js"></script>

<script>
    $(document).ready(function () {
        Parse.initialize('<%= keys.appId %>', '<%= keys.jsKey %>');

		$('.btn[type="submit"]').click(function() {
			$('.alert').hide();
		});

        var $form = $('#create-player-form');

        $form.validate({
            rules: {
                name: "required",
                location: {
                	required: true,
                	digits: true
                },
                picture: {
                    extension: "gif|png|jpg|jpeg"
                }
            },
            messages: {
                name: "A player name (nickname) is required!",
                location: {
                	required: "A home zip is required!",
                	digits: "Must be a valid zip. Only digits."
                }
            },
            errorPlacement: function(error, element) {
                error.appendTo( element.parent() );
            },
            submitHandler: function (form) {
                var $formSubmit = $(form).find('button[type="submit"]');
                $formSubmit.text('Saving...');
                $formSubmit.attr('disabled', 'disabled');

                var dfd = new jQuery.Deferred(),
                    promise = dfd.promise();

                var pictureURL = $form.find('input[name="profileImageThumb"]'),
                        fileUploadControl = $("#profile-picture-input")[0];

                if (fileUploadControl.files.length > 0) {
                    var file = fileUploadControl.files[0],
                        name = file.name;

                    var parseFile = new Parse.File(name, file);
                    parseFile.save().then(function(image) {
                        pictureURL.val(image.url());
                        dfd.resolve();
                    }, function(error) {
                        $formSubmit.text('Save');
                        $formSubmit.removeAttr('disabled');
                        console.log(error);
                    });
                } else {
                    dfd.resolve();
                }

                $.when(promise).then(function () {
                    form.submit();
                });
            }
        });

        $('#profile-picture-input').ace_file_input({
            no_file:'No File ...',
            btn_choose:'Choose',
            btn_change:'Select',
            droppable: false,
            onchange: null,
            thumbnail: true,
            whitelist: 'gif|png|jpg|jpeg',
            blacklist: 'exe|php'
        });
        
        $("#entity-create .input-required").tooltip({
			hide: {
				effect: "explode",
				delay: 2500
			},
			show: {
				effect: "slideDown",
				delay: 2500
			}
		});
        
        $('#admins').tag({ placeholder : $('#admins').attr('placeholder') });
    });
</script>

<% include ../parts/foot %>