<% include ../parts/head %>

<link rel="stylesheet" href="/media/dashboard/css/chosen.css" />

<% include ../parts/bodyStart %>

<% if (found) { %>
<div id="entity-create">
    <table class="header-table">
        <tr>
            <td class="image-cell">
                <% if (entity.get('profileImageThumb')) { %>
                	<img src="<%= entity.get('profileImageThumb') %>" />
                <% } else { %>
                	<i class="icon-user"></i>
                <% } %>
            </td>
            <td>
                <p class="head">
                    <%= entity.get('name') %>
                </p>
                <p class="location"><%= entity.get('location') %></p>
            </td>
        </tr>
    </table>

    <h3>Update this Player:</h3>

    <form action="/dashboard/editEntity/Player/<%= entity.id %>" method="post" id="create-player-form" class="form-horizontal"> 
    	
        <div class="control-group">
            <label class="control-label" for="name">Name (Nickname):</label>
            <div class="controls">
                <input name="name" id="name" value="<%= entity.get('name') %>" />
                <span class="input-required">*required</span>
                <input type="checkbox" name="hide-publicly" <% if (entity.get('isDisplayPublicly') == true) { %>checked="checked"<% }  %>/> <span class="hide-publicly-text">Do NOT display publicly</span>
            </div>
    	</div>
    	
    	<div class="control-group">
            <label class="control-label" for="location">Home Zip:</label>
            <div class="controls">
                <input name="location" id="location" value="<%= entity.get('location') %>" />
                <span class="input-required" title="But never displayed, simply used to speed search">*required</span>
            </div>
    	</div>
    	
    	<div class="control-group">
            <label class="control-label" for="team">Team:</label>
            <div class="controls">
                <input name="team" id="team" value="<%= getValueOrEmpty( entity.get('team') ) %>" />
            </div>
    	</div>
    	
    	<div class="control-group">
            <label class="control-label" for="sport">Sport:</label>
            <div class="controls">
                <select name="sport">
                    <% if (entity.get('sport') == 'football') { %>
	                    <option value="football" selected>Football</option>
	                    <option value="soccer">Soccer</option>
                    <% } else { %>
	                    <option value="football">Football</option>
	                    <option value="soccer" selected>Soccer</option>
                    <% } %>
                </select>
            </div>
    	</div>
    	
    	<div class="control-group">
            <label class="control-label" for="number">Number and Position:</label>
            <div class="controls">
                <input name="number" class="player-number" value="<%= getValueOrEmpty( entity.get('number') ) %>" />
        		<input name="position" class="player-position" value="<%= getValueOrEmpty( entity.get('position') ) %>" />
            </div>
    	</div>
    	
    	<div class="control-group">
            <label class="control-label" for="admins">Admins:</label>
            <div class="controls" id="admins-controls">
                <input name="admins" id="admins" placeholder="Enter emails..."  value="<%= getValueOrEmpty( entity.get('adminsEmails') ) %>" />
            </div>
    	</div>
    	
    	<div class="control-group">
            <label class="control-label" for="contact-details">Coach Contact Details:</label>
            <div class="controls">
                <input name="contact-details" id="contact-details" value="<%= getValueOrEmpty( entity.get('contact-details') ) %>" />
            </div>
    	</div>
    	
    	<div class="control-group">
            <label class="control-label" for="profile">Coach Profile:</label>
            <div class="controls">
                <textarea name="profile" rows="2" id="profile"><%= entity.get('profile') %></textarea>
            </div>
    	</div>
    	
    	<div class="control-group">
            <label class="control-label" for="profile-picture-input">Profile Picture:</label>
            <div class="controls">
                <input type="hidden" name="profileImageThumb" value="<%= entity.get('profileImageThumb') %>" />
            	<input type="file" id="profile-picture-input" accept="image/*" />
            </div>
    	</div>

        <h4 class="header orange bolder smaller">Information</h4>
        <div class="control-group">
            <label class="control-label" for="form-field-website">Website</label>

            <div class="controls">
            <span class="input-icon input-icon-right">
                <input name="website" value="<%= getValueOrEmpty(entity.get('website')) %>" id="form-field-website" type="url">
                <i class="icon-bookmark icon-for-not-required-field"></i>
            </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="form-field-email">Email</label>

            <div class="controls">
            <span class="input-icon input-icon-right">
                <input name="email" value="<%= getValueOrEmpty(entity.get('email')) %>" id="form-field-email"type="email">
                <i class="icon-envelope icon-for-not-required-field"></i>
            </span>
            </div>
        </div>

        <h4 class="header orange bolder smaller">Social</h4>
        <div class="control-group">
            <label class="control-label" for="form-field-facebook">Facebook</label>

            <div class="controls">
                <span class="input-icon">
                <input name="facebook" value="<%= getValueOrEmpty(entity.get('facebook')) %>" id="form-field-facebook" type="url">
                <i class="icon-facebook"></i>
            </span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="form-field-twitter">Twitter</label>

            <div class="controls">
            <span class="input-icon">
                <input value="<%= getValueOrEmpty(entity.get('twitter')) %>" name="twitter" id="form-field-twitter" type="url">
                <i class="icon-twitter"></i>
            </span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="form-field-gplus">Google+</label>

            <div class="controls">
            <span class="input-icon">
                <input value="<%= getValueOrEmpty(entity.get('googlePlus')) %>" name="googlePlus" id="form-field-gplus" type="url">
                <i class="icon-google-plus"></i>
            </span>
            </div>
        </div>

        <div class="control-group">
			<div class="controls">
        		<button class="btn btn-orange" type="submit">Save</button>
        	</div>
   		</div>
    </form>
</div>
<% } else { %>
	<p>Player with provided ID not found!</p>
<% } %>

<% include ../parts/scripts %>

<% if (found) { %>
<script src="/media/dashboard/js/jquery.validate.js"></script>
<script src="/media/dashboard/js/additional-methods.min.js"></script>
<script src="/media/js/parse.js"></script>
<script src="/media/dashboard/js/bootstrap-tag.min.js"></script>

<script>
    $(document).ready(function () {
        Parse.initialize('<%= keys.appId %>', '<%= keys.jsKey %>');

        var $form = $('#create-player-form');

        $form.validate({
            rules: {
                name: "required",
                location: "required",
                picture: {
                    extension: "gif|png|jpg|jpeg"
                }
            },
            messages: {
                name: "A player name is required",
                location: "A player location is required"
            },
            submitHandler: function (form) {
                var $formSubmit = $(form).find('button[type="submit"]');
                $formSubmit.text('Saving...');
                $formSubmit.attr('disabled', 'disabled');

                var dfd = new jQuery.Deferred(),
                    promise = dfd.promise();

                var pictureURL = $form.find('input[name="profileImageThumb"]'),
                    fileUploadControl = $("#profile-picture-input")[0];

                if (fileUploadControl.files.length > 0) {
                    var file = fileUploadControl.files[0],
                        name = file.name;

                    var parseFile = new Parse.File(name, file);
                    parseFile.save().then(function(image) {
                        pictureURL.val(image.url());
                        dfd.resolve();
                    }, function(error) {
                        $formSubmit.text('Save');
                        $formSubmit.removeAttr('disabled');
                        console.log(error);
                    });
                } else {
                    dfd.resolve();
                }

                $.when(promise).then(function () {
                    form.submit();
                });
            }
        });

        $('#profile-picture-input').ace_file_input({
            no_file:'No File ...',
            btn_choose:'Choose',
            btn_change:'Select',
            droppable: false,
            onchange: null,
            thumbnail: true,
            whitelist: 'gif|png|jpg|jpeg',
            blacklist: 'exe|php'
        });

		$("#entity-create .input-required").tooltip({
			hide: {
				effect: "explode",
				delay: 2500
			},
			show: {
				effect: "slideDown",
				delay: 2500
			}
		});
        
        $('#admins').tag({ placeholder : $('#admins').attr('placeholder') });
        $('#admins-controls').click(function(e) {
        	if ( $(e.target).hasClass('close') ) {
        		var email = $(e.target).parent()[0].firstChild.data;
       			$.post('/dashboard/removeAdmin/Player/<%= entity.id %>', {'adminEmail' : email });
        	}
        });
    });
</script>
<% } %>

<% include ../parts/foot %>