<div class="widget donation-widget">
    <% if (!isSoldOut) { %>
    <a href="#donation-modal-<%= offerID %>" data-toggle="modal">
        <img src="/media/img/buttons/pay-with-amazon.png" />
    </a>
    <% } else { %>
    <a href="javascript:void(0);" title="Sold out!" disabled>
        <img src="/media/img/buttons/pay-with-amazon.png" />
    </a>
    <% } %>
</div>

<div id="donation-modal-<%= offerID %>" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySigninModalLabel-<%= offerID %>" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 id="mySigninModalLabel-<%= offerID %>">Donation</h4>
    </div>
    <div class="modal-body">
        <% if (!isLoggedIn) { %>
        <strong>You need to be registered and logged in to make a donation.</strong>
        <p>
            You will be redirected back here when you'll be signed in.
        </p>
        <% } else { %>
        In order to make a donation please press 'Make donation' button (you will be redirected to the Dashboard).
        <% } %>
    </div>
    <div class="modal-footer">
        <% if (!isLoggedIn) { %>
        <a href="/accounts/login" class="btn btn-danger accounts-btn">Sign in</a>
        <a href="/accounts/register" class="btn btn-danger accounts-btn">Sign up</a>
        <% } else { %>
        <a href="/dashboard/payments/donate/<%= teamID %>/<%= offerID %>" class="btn btn-danger">Make donation</a>
        <% } %>
    </div>
</div>