<p>Dear <%= invitingName %>,</p>

<p>Your invitation to become an admin of <%= entityType %>: <%= entityName %> has been <% if (isAccepted) { %>accepted<% } else { %>rejected<% } %>.</p>

<p>
	
	<% if (isAccepted) { %>
		User <%= invitedName %> is now an admin of <%= entityType %>: <%= entityName %>.
	<% } %>
	
	<p>
		Regards, <br />
		Spudder Team
	</p>
</p>