<% include ../parts/head %>

<% include parts/bodyStart %>

<div id="team-offer">
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <article>
                        <div class="offer-presentation">
                            <div class="post-heading">
                                <h3 class="team-name">
                                    <% if (page.get('website')) { %>
                                    <a href="<%= page.get('website') %>" target="_blank">
                                        <%= page.get('name') %>
                                    </a>
                                    <% } else { %>
                                        <%= page.get('name') %>
                                    <% } %>
                                </h3>
                            </div>
                        <div class="top-wrapper">
                            <% if (page.get('images').length) { %>
                                <div class="flexslider">
                                    <ul class="slides">
                                    <% page.get('images').forEach(function(image, index) { %>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: <% if (index == 0) { %>list-item;<% } else {%> none;<% } %>" class="flex-active-slide">
                                            <div class="offer-description-container">
                                                <div class="preview-image">
                                                    <img src="<%= image %>"/>
                                                </div>
                                            </div>
                                        </li>
                                    <% }) %>
                                    </ul>

                                    <ul class="flex-direction-nav">
                                        <li><a class="flex-prev" href="#">Previous</a></li>
                                        <li><a class="flex-next" href="#">Next</a></li>
                                    </ul>
                                </div>
                            <% } else { %>
                                <div class="no-image-available">
                                    <img src="/media/img/no-image-available.png"/>
                                </div>
                            <% } %>
                            <div class="offer-description">
                                <p>
                                    <%= page.get('description') %>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="span4">
                    <aside class="right-sidebar">
                        <% include parts/details %>
                    </aside>
                </div>
            </div>

            <% if (teams.length) { %>
            <div class="row-fluid nomargin">
                <div class="span12">
                    <%- displayTeams('teams1', 'We Sponsor:', teams) %>
                </div>
            </div>
            <% } %>
        </div>
    </section>
</div>

<% include ../parts/foot %>

<% include ../parts/scripts %>

    </body>
</html>