<% include ../parts/head %>

<% include ../parts/bodyStart %>

<div class="margin-top10 clearfix" id="create-spuds">
	
	<p class="head"><i class="icon-microphone icon-large margin-right5"> </i>Create SPUDS</p>
	
	<div class="row-fluid">
		<div class="clearfix" id="new-spuds-container">
	    	<div class="title">
	    		<form action="/dashboard/createSpud" method="post" name="createSpud">
	        		<textarea class="form-control" placeholder="What's new..." rows="4" name="title"></textarea>
	    		</form>
	      	</div>
	 
			<div class="buttons clearfix row-fluid">
		        <div class="span3 text-center" id="text">
		        	<i class="icon-pencil"></i>
		      		<p>
		            	Text
		          	</p>
		        </div>
		        <div class="span3 text-center" id="photo">
		        	<i class="icon-camera"></i>
		    		<p>
		            	Photo
		         	</p>
		        </div>
		        <div class="span3 text-center" id="announcement">
		        	<i class="icon-volume-up"></i>
		      		<p>
		            	Announcement
		      		</p>
		        </div>
		        <div class="span3 text-center" id="video">
		      		<i class="icon-youtube-play"></i>
					<p>
		            	Video
		          	</p>
		    	</div>
	      	</div>
	    </div>
	    <div class="clearfix" id="new-spuds-preview-container">
    		<div class="preview-title clearfix">
				<% if( getValueOrEmpty( user.get('profileImageThumb') ) == '' ) { %>
	          		<img width="50" height="50" src="/media/dashboard/avatars/no_avatar.png" class="social-avatar pull-left">
                <% } else { %>
                    <img width="50" height="50" src="<%= user.get('profileImageThumb') %>" class="social-avatar pull-left">
                <% } %>
          		<div class="profile-details">
		            <a href="#" class="user-name">
						<% if (getValueOrEmpty(user.get('nickname')) != '') { %>
                            <%= user.get('nickname') %>
                        <% } else if (getValueOrEmpty(user.get('krowdioUserId')) != '') { %>
                            #<%= user.get('krowdioUserId') %>
                    	<% } else { %>
                            Anonymous
                        <% } %>
					</a>
	        	</div>
	        	<div class="buttons-top pull-right">
		        	<div class="btn btn-warning btn-rounded btn-small" id="back" title="Back">
		        		<i class="icon-arrow-left"> </i>
		        	</div>
		        	<div class="btn btn-orange btn-rounded btn-medium" id="post">
		        		POST
		        	</div>
	        	</div>
          	</div>
	    	<div id="text-preview">
	    	</div>
	    	<div class="buttons-bottom">
	    		<div class="btn btn-small btn-black-outline" title="Tag">
	    			<i class="icon-tag"> </i>
	    		</div>
	    		<div class="btn btn-small btn-black-outline" title="Tag Venue">
	    			<i class="icon-map-marker"> </i>
	    		</div>
	    		<div class="btn btn-small btn-black-outline" id="share" title="Share">
	    			<i class="icon-share-alt"> </i>
	    		</div>
	    		<div class="hidden social-share">
                    <span class='st_facebook'> </span> <!-- st_url="" -->
					<span class='st_twitter'> </span>
					<span class='st_googleplus'> </span>
					<span class='st_pinterest'> </span>
					<span class='st_email'> </span>
	    		</div>
	    	</div>
	    </div>
    </div>
	
	<div class="row-fluid" id="view-spuds">
		<div class="span8">
			<h5>View SPUDS on the <a class="btn btn-orange btn-small" href="/dashboard">SPUDS FEED</a></h5>
		</div>
	</div>

</div>

<% include ../parts/scripts %>

<script src="/media/dashboard/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/media/dashboard/js/chosen.jquery.min.js"></script>
<script src="/media/dashboard/js/bootstrap-tag.min.js"></script>
<script src="/media/js/parse.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		Parse.initialize('<%= keys.appId %>', '<%= keys.jsKey %>');
	
		$('#text').click(function() {
			var whatsNew = $('#new-spuds-container textarea').val();
			$('#text-preview').html(whatsNew);
			$('#new-spuds-preview-container').show();
			$('#new-spuds-container').hide();
		});
		
		$('#back').click(function() {
			$('#new-spuds-preview-container').hide();
			$('#new-spuds-container').show();
		});
		
		$('#share').click(function() {
			var socialShare = $('.social-share');
			if (socialShare.css('display') == 'none') {
				socialShare.css('display', 'inline-block');
			} else {
				socialShare.css('display', 'none');
			}
		});
		
		$('.buttons-bottom .btn, #back').tooltip({
			hide: {
				effect: "explode",
				delay: 2500
			},
			show: {
				effect: "slideDown",
				delay: 2500
			}
		});
		
		$('#post').click(function() {
			var form = $('form[name="createSpud"]');
			
			form.submit();
		});
	
		// TODO: remove after creating other example
		$(".chzn-select").chosen({ 'width' : '220px' });
		
		var playerTagsInput = $('#player-tags-input');
		playerTagsInput.tag({ placeholder : playerTagsInput.attr('placeholder') });
		
		$("div.bar div.button").tooltip({
			hide: {
				effect: "explode",
				delay: 2500
			},
			show: {
				effect: "slideDown",
				delay: 2500
			}
		});
		
		$('#image-file').ace_file_input({
            no_file:'No File ...',
            btn_choose:'Choose',
            btn_change:'Select',
            droppable: false,
            onchange: null,
            thumbnail: true,
            whitelist: 'gif|png|jpg|jpeg',
            blacklist: 'exe|php'
        });
        
		window.openModal = function(id) {
			$('.modal').modal('hide');
			var modal = $('#' + id);
			modal.appendTo($('body'));
			modal.modal();
		};
		
		window.loadImage = function() {
			var fileUploadControl = $("#image-file")[0];
	
	        if (fileUploadControl.files.length > 0) {
	            var file = fileUploadControl.files[0],
	                name = file.name,
	                imageName = $('#image-name'),
	                validName = name.replace(/[\(\)]+/g, '');
	            
	            if (imageName.val() == name) {
	            	openModal('images-preview-modal');
	            	return;
	            }
	
	            var parseFile = new Parse.File(validName, file);
	            parseFile.save().then(function(image) {
	            	var comment = $('#add-image .comment').val();
	                $('#image-preview').attr('src', image.url());
                 	$('#image').val(image.url());	
                 	$('#image-comment').val(comment);	
	                $('#comment-preview').html(comment);
	                imageName.val(name);
	                openModal('images-preview-modal');
	            }, function(error) {
	                console.log(error);
	            });
	        } else {
	        	openModal('images-preview-modal');
	        }
	        
        };
		
		$('#create-spuds-buttons > div').modal({ 'show' : false });
		
		$('#create-spuds-buttons > div').click(function() {
			var modalID = $(this).attr('modal-id');
			var modal = $('' + modalID);
			modal.appendTo($('body'));
			modal.modal('show');
		});
		
		$('.open-modal').on('click', function() {
			var modalID = $(this).attr('modal-id');
			$('.modal').modal('hide');
			var modal = $('' + modalID);
			modal.appendTo($('body'));
			modal.modal();
		});
	});
</script>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="/media/dashboard/js/sharethis.js"></script>
<script type="text/javascript">stLight.options({publisher: "4b2b4411-bf79-4c69-804e-0ceab8228fb5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<% include ../parts/foot %>
