<% include ../parts/head %>

<% include ../parts/bodyStart %>

<div class="margin-top10 clearfix" id="create-spuds">
	
	<p class="head"><i class="icon-microphone icon-large margin-right5"> </i>Create SPUDS</p>
	
	<div class="row-fluid">
		<div class="clearfix" id="new-spuds-container">
	    	<div class="title">
	    		<form action="/dashboard/createSpud" method="post" name="createSpud">
	    			<div class="hidden" id="hidden-video">
	    				<input type="url" name="video" class="video pull-left" placeholder="Youtube video's URL" />
	    				<a class="btn btn-orange btn-small pull-left" id="next">Next</a>
	    			</div>
	        		<textarea class="form-control" placeholder="What's new..." rows="4" name="title"></textarea>
	        		<input type="hidden" name="tags" class="tags" />
	        		<input type="hidden" name="image" id="imageURL" />
	        		<input type="file" class="hidden" id="image" />
	    		</form>
	      	</div>
	 
			<div class="buttons clearfix row-fluid">
		        <div class="span3 text-center" id="text">
		        	<i class="icon-pencil"></i>
		      		<p>
		            	Text
		          	</p>
		        </div>
		        <div class="span3 text-center" id="photo">
		        	<i class="icon-camera"> </i>
		    		<p>
		            	Photo
		         	</p>
		        </div>
		        <div class="span3 text-center" id="announcement">
		        	<i class="icon-volume-up"></i>
		      		<p>
		            	Announcement
		      		</p>
		        </div>
		        <div class="span3 text-center" id="video">
		      		<i class="icon-youtube-play"></i>
					<p>
		            	Video
		          	</p>
		    	</div>
	      	</div>
	    </div>
	    <div class="clearfix" id="new-spuds-preview-container">
    		<div class="preview-title clearfix">
				<% if( getValueOrEmpty( user.get('profileImageThumb') ) == '' ) { %>
	          		<img width="50" height="50" src="/media/dashboard/avatars/no_avatar.png" class="social-avatar pull-left">
                <% } else { %>
                    <img width="50" height="50" src="<%= user.get('profileImageThumb') %>" class="social-avatar pull-left">
                <% } %>
          		<div class="profile-details">
		            <a href="#" class="user-name">
						<% if (getValueOrEmpty(user.get('nickname')) != '') { %>
                            <%= user.get('nickname') %>
                        <% } else if (getValueOrEmpty(user.get('krowdioUserId')) != '') { %>
                            #<%= user.get('krowdioUserId') %>
                    	<% } else { %>
                            Anonymous
                        <% } %>
					</a>
	        	</div>
	        	<div class="buttons-top pull-right">
		        	<div class="btn btn-warning btn-rounded btn-small" id="back" title="Back">
		        		<i class="icon-arrow-left"> </i>
		        	</div>
		        	<div class="btn btn-orange btn-rounded btn-medium" id="post">
		        		POST
		        	</div>
	        	</div>
          	</div>
          	<div id="image-preview" class="hidden">
          		<img src="" />
          	</div>
	    	
	    	<iframe id="video-preview" src="" frameborder="0" class="hidden"></iframe>
	    	
	    	<div id="text-preview">
	    	</div>
	    	
	    	<div class="tags">
	    		
	    	</div>
	    	<div class="buttons-bottom">
	    		<div class="btn btn-small btn-black-outline" title="Tag" id="tag">
	    			<i class="icon-tag"> </i>
	    		</div>
	    		<div class="btn btn-small btn-black-outline" title="Tag Venue" id="tag-venue">
	    			<i class="icon-map-marker"> </i>
	    		</div>
	    		<div class="btn btn-small btn-black-outline" id="share" title="Share">
	    			<i class="icon-share-alt"> </i>
	    		</div>
	    		<div class="hidden social-share">
                    <span class='st_facebook'> </span> <!-- st_url="" -->
					<span class='st_twitter'> </span>
					<span class='st_googleplus'> </span>
					<span class='st_pinterest'> </span>
					<span class='st_email'> </span>
	    		</div>
	    	</div>
	    	<div class="tag-buttons">
	    		<div class="btn btn-small btn-black-outline" title="Team">
	    			<i class="icon-group"> </i>
	    		</div>
	    		<div class="btn btn-small btn-black-outline" title="Player">
	    			<i class="icon-user"> </i>
	    		</div>
	    		<div class="btn btn-small btn-black-outline" title="Coach">
	    			<i class="icon-bullhorn"> </i>
	    		</div>
	    	</div>
	    	<div class="tag-inputs">
	    		<div class="tag-team">
    			    <form class="form-inline" class="tag-form">
    			    	<div class="inputs">
	    					<select class="select2-arrow">
	    						<option value="">-- favorites --</option>
	    						<option value="noTeam">No Team</option>
	    						<% teams.forEach(function(team) { %>
									<option value="<%- team.id %>"><%- team.get('name') %></option>    							
	    						<% }) %>
							</select>
							
							or
							
						    <input type="text" class="input-small" placeholder="Team Name">
					    </div>
						<button type="submit" class="btn btn-orange btn-small" id="tagTeam">Add</button>
    				</form>
	    		</div>
	    		<div class="tag-player">
    			    <form class="form-inline" class="tag-form">
    			    	<div class="inputs">
	    			    	<label>Select player</label>
						</div>
						<button type="submit" class="btn btn-orange btn-small" id="tagPlayer">Add</button>
    				</form>
	    		</div>
	    		<div class="tag-coach">
    			    <form class="form-inline" class="tag-form">
    			    	<div class="inputs">
	    			    	<label>Select coach</label>
						</div>
						<button type="submit" class="btn btn-orange btn-small" id="tagCoach">Add</button>
    				</form>
	    		</div>
	    		<div class="tag-venue">
    			    Tagging venue will be available soon
	    		</div>
	    	</div>
	    	<div class="alert alert-danger">
	    		
	    	</div>
	    </div>
    </div>
	
	<div class="row-fluid" id="view-spuds">
		<div class="span8">
			<h5>View SPUDS on the <a class="btn btn-orange btn-small" href="/dashboard">SPUDS FEED</a></h5>
		</div>
	</div>

</div>

<% include ../parts/scripts %>

<script src="/media/dashboard/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/media/dashboard/js/chosen.jquery.min.js"></script>
<script src="/media/dashboard/js/bootstrap-tag.min.js"></script>
<script src="/media/js/parseUri.js"></script>
<script src="/media/js/parse.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		Parse.initialize('<%= keys.appId %>', '<%= keys.jsKey %>');
	
		function showPreview() {
			var whatsNew = $('#new-spuds-container textarea').val();
			$('#text-preview').html(whatsNew);
			$('#new-spuds-preview-container').show();
			$('#new-spuds-container').hide();
		}
	
		$('#text').click(function() {
			showPreview();
		});
		
		$('#back').click(function() {
			$('#new-spuds-preview-container').hide();
			$('#new-spuds-container').show();
		});
		
		$('#share').click(function() {
			var socialShare = $('.social-share');
			if (socialShare.css('display') == 'none') {
				socialShare.css('display', 'inline-block');
			} else {
				socialShare.css('display', 'none');
			}
		});
		
		$('.buttons-bottom .btn, #back, .tag-buttons .btn').tooltip({
			hide: {
				effect: "explode",
				delay: 2500
			},
			show: {
				effect: "slideDown",
				delay: 2500
			}
		});
		
		$('#video').click(function() {
			var hiddenVideo = $('#hidden-video');
			
			if (hiddenVideo.is(':visible')) {
				hiddenVideo.addClass('hidden');
			} else {
				hiddenVideo.removeClass('hidden');
			}
		});
		
		function getVideoURL(value) {
			var parsedURI = parseUri(value),
				videoID = parsedURI.queryKey['v'];
			
			return 'https://www.youtube.com/embed/' + videoID;
		}
		
		$('#next').click(function() {
			var videoInput = $('.title .video'),
				videoURL = getVideoURL(videoInput.val()),
				videoPreview = $('#video-preview');
				
			videoInput.val(videoURL);
			
			videoPreview.attr('src', videoURL);
			videoPreview.removeClass('hidden');
			
			showPreview();
		});
		
		$('#post').click(function() {
			var form = $('form[name="createSpud"]');
			form.submit();
		});
		
		$('#tag').click(function() {
			var buttons = $('.tag-buttons');
			if (buttons.is(':visible')) {
				buttons.hide();
			} else {
				buttons.show();
			}
		});
		
		$('.tag-buttons .btn').click(function() {
			var title = $(this).attr('data-original-title').toLowerCase(),
				inputs = $('.tag-' + title);
			
			if (title == 'team' && $(this).attr('alreadyTagged') == 'true') {
				alert('You can tag only one Team per SPUD.');
				return;
			}
			
			if (inputs.is(':visible')) {
				inputs.hide();
			} else {
				inputs.show();
			}
		});
		
		$('#tag-venue').click(function() {
			alert('coming soon');
			return;
			var inputs = $('.tag-venue');
			if (inputs.is(':visible')) {
				inputs.hide();
			} else {
				inputs.show();
			}
		});
		
		function setTeamIdByName(name, requestId) {
			var _name = name,
				loading = showLoading($('#tagTeam')),
				deferred = new $.Deferred(),
				idHasBeenSetDeferred = new $.Deferred();
			
			if (requestId) {
				$.get('/getTeamIdByName', { 'name' : name }).done(function(data) {
					var entity = JSON.parse(data);
					
					if ( entity.exists ) {
						deferred.resolve(entity.id);
					} else {
						alert('The Team with the given name does NOT exists.');	
					}
				});
			} else {
				deferred.resolve($('.tag-team select').val());
			}
			
			deferred.promise().then(function(entityId) {
				addTag('Team', entityId, _name);
				
				loading.end();
				
				idHasBeenSetDeferred.resolve(entityId);
			});
			
			return idHasBeenSetDeferred.promise();
		}
		
		function alert(msg) {
			var alert = $('#new-spuds-preview-container .alert-danger');
			alert.html(
				msg
			);
			
			alert.show();
		}
		
		function setTeamPlayersAndCoaches(teamId) {
			var response = $.get('/getTeamPlayersAndCoaches', { 'id' : teamId });
			
			response.done(function(data) {
				var selectPlayers = $('<select team="' + teamId + '"></select>'),
					selectCoaches = $('<select team="' + teamId + '"></select>'),
					parsed = JSON.parse(data);
					
				$.each(parsed.players, function() {
					var option = $('<option></option>');
					
					option.attr('value', this.objectId);
					option.html(this.name);
					selectPlayers.append(option);
				});
				
				$.each(parsed.coaches, function() {
					var option = $('<option></option>');
					
					option.attr('value', this.objectId);
					option.html(this.name);
					selectCoaches.append(option);
				});
				
				$('.tag-coach .inputs').append(selectCoaches);
				$('.tag-player .inputs').append(selectPlayers);
			});
		}
		
		function showLoading(container) {
			var deferred = new $.Deferred(),
				previousValue = $(container).html(),
				spinner = $('<img src="/media/img/ajax-loader-orange.gif" />');
			
			deferred.promise().then(function() {
				$(container).html(previousValue);
			});
			
			$(container).html(spinner);
			
			deferred.end = function() {
				deferred.resolve();
			};
			
			return deferred;
		}
		
		$('#tagTeam').click(function(e) {
			e.preventDefault();
			
			var nameFromInput = $(this).parent().find('input').val(),
				select = $(this).parent().find('select'),
				idFromSelect = select.val(),
				nameFromSelect = select.find(':selected').html(),
				name = idFromSelect.length > 0 ? nameFromSelect : nameFromInput;
				
			
			if (nameFromInput.length == 0 && idFromSelect.length == 0) {
				alert('You must select a team from favorites or type name of the existing team');
			}
				
			setTeamIdByName(name, nameFromInput.length > 0).then(function(teamId) {
				setTeamPlayersAndCoaches(teamId);
				$('.tag-team').hide();
				$('[data-original-title="Team"]').attr('alreadyTagged', 'true');
			});
			
			
		});
		
		$('#tagPlayer').click(function(e) {
			e.preventDefault();
			
			var selected = $(this).parent().find('select').find(':selected');
			
			addTag('Player', selected.val(), selected.html());
		});
		
		$('#tagCoach').click(function(e) {
			e.preventDefault();
			
			var selected = $(this).parent().find('select').find(':selected');
			
			addTag('Coach', selected.val(), selected.html());
		});
	
		function addTag(entityType, entityId, entityName) {
			var tags = $('#new-spuds-preview-container .tags'),
				tagSpan = $('<span class="tag">'),
				tagsInput = $('#new-spuds-container input.tags'),
				tagsInputValue = tagsInput.val();
					
			if (!tags.is(':visible')) {
				tags.show();
			}
			
			tagSpan.html( '@' + entityName );
			tags.append( tagSpan );
			tagsInput.val( tagsInputValue + (tagsInputValue.length > 0 ? ' ' : '') + '@' + entityType + entityId );
		}
	
		var fileInput = $('#new-spuds-container input[type="file"]');
		$('#photo').click(function() {
			fileInput.trigger('click');
		});
		
		fileInput.change(function() {
			loadImage();
		});
		
		function loadImage() {
			var fileUploadControl = fileInput[0];
	
	        if (fileUploadControl.files.length > 0) {
	            var file = fileUploadControl.files[0],
	                name = file.name,
	                validName = name.replace(/[\(\)]+/g, '');
	            
	            var parseFile = new Parse.File(validName, file);
	            parseFile.save().then(function(image) {
	            	var imagePreview = $('#image-preview');
	                imagePreview.find('img').attr('src', image.url());
	                $('#imageURL').val(image.url());
	                imagePreview.removeClass('hidden');
                 	showPreview();
	            }, function(error) {
	                console.log(error);
	            });
	        } 
        };
        
        $('.tag-team select').change(function() {
        	$('.tag-team input').val('');
        });
        
        $('.tag-team input').on('change focus input', function() {
        	$('.tag-team select').val('');
        });
	});
</script>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="/media/dashboard/js/sharethis.js"></script>
<script type="text/javascript">stLight.options({publisher: "4b2b4411-bf79-4c69-804e-0ceab8228fb5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<% include ../parts/foot %>
