<% include ../parts/head %>

<link rel="stylesheet" href="/media/dashboard/css/chosen.css" />

<% include ../parts/bodyStart %>

<div id="entity-create">
    <p class="head">
        <i class="icon-bullhorn"></i> My Coaches
        <a class="btn btn-orange pull-left create-entity-button" href="/dashboard/createEntity/Coach" title="Add">
            <i class="icon icon-plus-sign icon-large"></i>
        </a>
    </p>

    <% if (list.length) { %>
    <table class="table table-hovered" id="my-entity-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Contact Details</th>
                <th>Profile</th>
                <th>Public Page</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
        <% list.forEach(function(coach) { %>
            <tr>
                <td><a href="/public/Coach/<%= coach.id  %>"><%= coach.get('name') %></a></td>
                <td><%= coach.get('location') %></td>
                <td><%= getValueOrEmpty(coach.get('contact')) %></td>
                <td><%= getValueOrEmpty(coach.get('profile')) %></td>
                <td><a href="/public/Coach/<%= coach.id  %>">Link</a></td>
                <td>
                    <a class="btn btn-mini btn-lightgrey btn-action" href="/dashboard/editEntity/Coach/<%= coach.id %>" title="Edit">
                        <i class="icon-edit"></i>
                    </a>
                    <a class="btn btn-mini btn-lightgrey btn-action" href="/dashboard/removeEntity/Coach/<%= coach.id %>" title="Remove" id="remove-button">
                        <i class="icon-trash"></i>
                    </a>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    <% } %>
</div>

<% include ../parts/scripts %>

<script type="text/javascript">
	$(document).ready(function() {
		$('#remove-button').click(function(e) {
			if ( !confirm('Are you sure?') ) {
				e.preventDefault();
			}
		});
	});
</script>

<% include ../parts/foot %>