<% include ../parts/head %>

<link rel="stylesheet" href="/media/dashboard/css/chosen.css" />

<% include ../parts/bodyStart %>

<% if (found) { %>
<div id="entity-create">
    <table class="header-table">
        <tr>
            <td class="image-cell">
                <% if (team.get('profileImageThumb')) { %>
                <img src="<%= team.get('profileImageThumb') %>" />
                <% } else { %>
                <i class="icon-group"></i>
                <% } %>
            </td>
            <td>
                <p class="head">
                    <%= team.get('name') %>
                </p>
                <p class="location"><%= team.get('location') %></p>
            </td>
        </tr>
    </table>

    <h3>Update this Team:</h3>

    <form action="/dashboard/teams/edit" method="post" id="create-team-form" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="name">Team Name:</label>
            <div class="controls">
                <input tabindex="1" name="name" id="name" value="<%= team.get('name') %>" />
                <span class="input-required">*required</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="location">Team Location:</label>
            <div class="controls">
                <input tabindex="2" name="location" id="location" value="<%= team.get('location') %>"/>
                <span class="input-required">*required</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="contact-details">Team Contact Details:</label>
            <div class="controls">
                <input tabindex="3" name="contact-details" id="contact-details" value="<%= team.get('contact') %>"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="profile">Team Profile:</label>
            <div class="controls">
                <textarea tabindex="4" name="profile" id="profile"><%= team.get('profile') %></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="sport">Sport:</label>
            <div class="controls">
                <select tabindex="5" name="sport" id="sport">
                    <% if (team.get('sport') == 'football') { %>
                    <option value="football" selected>Football</option>
                    <option value="soccer">Soccer</option>
                    <% } else { %>
                    <option value="football">Football</option>
                    <option value="soccer" selected>Soccer</option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="profile-picture-input">Profile Picture:</label>
            <div class="controls">
                <input type="hidden" name="profileImageThumb" />
                <input type="file" id="profile-picture-input" accept="image/*" class="file-upload-input"/>
            </div>
        </div>

        <h4 class="header orange bolder smaller">Information</h4>
        <div class="control-group">
            <label class="control-label" for="form-field-website">Website</label>
            <div class="controls">
                <span class="input-icon input-icon-right">
                    <input name="website" value="<%= getValueOrEmpty(team.get('website')) %>" id="form-field-website" type="url">
                    <i class="icon-bookmark"></i>
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="form-field-email">Email</label>
            <div class="controls">
                <span class="input-icon input-icon-right">
                    <input name="email" value="<%= getValueOrEmpty(team.get('email')) %>" id="form-field-email"type="email">
                    <i class="icon-envelope"></i>
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="form-field-home-venue">Home Venue</label>
            <div class="controls">
                <span class="input-icon input-icon-right">
                    <input name="homeVenue" id="form-field-home-venue" value="<%= getValueOrEmpty(team.get('homeVenue')) %>" type="text">
                    <i class="icon-home"></i>
                </span>
            </div>
        </div>

        <h4 class="header orange bolder smaller">Social</h4>
        <div class="control-group">
            <label class="control-label" for="form-field-facebook">Facebook</label>
            <div class="controls">
                <span class="input-icon input-icon-left">
                    <input name="facebook" value="<%= getValueOrEmpty(team.get('facebook')) %>" id="form-field-facebook" type="url">
                    <i class="icon-facebook"></i>
                </span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="form-field-twitter">Twitter</label>
            <div class="controls">
                <span class="input-icon input-icon-left">
                    <input value="<%= getValueOrEmpty(team.get('twitter')) %>" name="twitter" id="form-field-twitter" type="url">
                    <i class="icon-twitter"></i>
                </span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="form-field-gplus">Google+</label>
            <div class="controls">
            <span class="input-icon input-icon-left">
                <input value="<%= getValueOrEmpty(team.get('googlePlus')) %>" name="googlePlus" id="form-field-gplus" type="url">
                <i class="icon-google-plus"></i>
            </span>
            </div>
        </div>

        <input type="hidden" name="teamID" value="<%= team.id %>" />

        <button class="btn btn-danger" type="submit">Save</button>
    </form>
</div>
<% } else { %>
<p>Team with provided ID not found!</p>
<% } %>

<% include ../parts/scripts %>

<% if (found) { %>
<script src="/media/dashboard/js/jquery.validate.js"></script>
<script src="/media/dashboard/js/additional-methods.min.js"></script>
<script src="/media/dashboard/js/teams/helpers.js"></script>
<script src="/media/js/parse.js"></script>

<script>
    $(document).ready(function () {
        Parse.initialize('<%= keys.appId %>', '<%= keys.jsKey %>');

        var $form = $('#create-team-form');

        $form.validate({
            rules: {
                name: "required",
                location: "required",
                picture: {
                    extension: "gif|png|jpg|jpeg"
                }
            },
            messages: {
                name: "A team name is required",
                location: "A team location is required"
            },
            submitHandler: function (form) {
                var $formSubmit = $(form).find('button[type="submit"]');
                $formSubmit.text('Saving...');
                $formSubmit.attr('disabled', 'disabled');

                var dfd = new jQuery.Deferred(),
                    promise = dfd.promise();

                var pictureURL = $form.find('input[name="profileImageThumb"]'),
                    fileUploadControl = $("#profile-picture-input")[0];

                if (fileUploadControl.files.length > 0) {
                    var file = fileUploadControl.files[0],
                        name = file.name;

                    var parseFile = new Parse.File(name, file);
                    parseFile.save().then(function(image) {
                        pictureURL.val(image.url());
                        dfd.resolve();
                    }, function(error) {
                        $formSubmit.text('Save');
                        $formSubmit.removeAttr('disabled');
                        console.log(error);
                    });
                } else {
                    dfd.resolve();
                }

                $.when(promise).then(function () {
                    form.submit();
                })
            }
        });
    });
</script>
<% } %>

<% include ../parts/foot %>