<% include ../parts/head %>

<link rel="stylesheet" href="/media/dashboard/css/chosen.css" />

<% include ../parts/bodyStart %>

<div id="entity-create">
    <p class="head">
        <i class="icon-group"></i> Teams
        <a class="btn btn-orange pull-left create-entity-button" href="/dashboard/teams/create" title="Add">
        	<i class="icon icon-plus-sign icon-large"></i>
        </a>
    </p>

    <% if (list.length) { %>
    <table class="table table-hovered" id="my-teams-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Contact Details</th>
                <th>Profile</th>
                <th>Actions</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
        <% list.forEach(function(team) { %>
            <tr>
                <td><%= team.get('name') %></td>
                <td><%= team.get('location') %></td>
                <td><%= getValueOrEmpty(team.get('contact')) %></td>
                <td><%= getValueOrEmpty(team.get('profile')) %></td>
                <td>
                <% if (team.get('isRegisteredRecipient')) { %>
                    <a class="btn btn-mini btn-lightgrey btn-action" title="Offers" href="/dashboard/teams/<%= team.id %>/offers" >
                <% } else { %>
                    <a class="btn btn-mini btn-lightgrey btn-action" title="Offers" href="javascript:void(0);" disabled>
                <% } %>
                        <i class="icon-time"></i>
                    </a>


                <% if (!team.get('isRegisteredRecipient')) { %>
                    <a class="btn btn-mini btn-lightgrey btn-action" title="Register with Amazon" href="/dashboard/recipient/<%= team.id %>" >
                <% } else { %>
                    <a class="btn btn-mini btn-lightgrey btn-action" title="Register with Amazon" href="javascript:void(0);" disabled>
                <% } %>
                        <i class="icon-credit-card"></i>
                    </a>

                    <a class="btn btn-mini btn-lightgrey btn-action" href="javascript:void(0);" title="Reports" disabled>
                        <i class="icon-file-text"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-mini btn-lightgrey btn-action" href="/dashboard/teams/edit/<%= team.id %>" title="Edit">
                        <i class="icon-edit"></i>
                    </a>
                    <a class="btn btn-mini btn-lightgrey btn-action" href="/dashboard/teams/remove/<%= team.id %>" title="Remove" id="remove-button">
                        <i class="icon-trash"></i>
                    </a>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    <% } %>
</div>

<% include ../parts/scripts %>

<script type="text/javascript">
	$(document).ready(function() {
		$('#remove-button').click(function(e) {
			if ( !confirm('Are you sure?') ) {
				e.preventDefault();
			}
		});
	});
</script>

<% include ../parts/foot %>