<% include ../../parts/head %>

<link href="/media/dashboard/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />

<% include ../../parts/bodyStartWithSocial %>

<div id="team" class="container">
    <div class="row-fluid primary" id="page-header">
        <div class="wrapper">
            <div class="span12">
                <div class="row-fluid header-parts nomargin">
                    <div class="span3">
                        <h3><a href="/teams/<%= team.id %>" class="team-name-link"><%= team.get('name') %></a></h3>
                    </div>

                    <div class="span5 navigation-buttons">
                        <a class="btn btn-spud-orange" href="#" title="Home Venue"><i class="icon-map-marker icon-20"></i></a>
                        <div class="btn-group">
                            <a class="btn btn-spud-orange dropdown-toggle" data-toggle="dropdown" href="#" title="League">
                                <i class="icon-sitemap icon-20"></i>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">League option 1</a></li>
                                <li><a href="#">League option 2</a></li>
                                <li><a href="#">League option 3</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-spud-orange dropdown-toggle" data-toggle="dropdown" href="#" title="Tournaments">
                                <i class="icon-trophy icon-20"></i>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Tournaments option 1</a></li>
                                <li><a href="#">Tournaments option 2</a></li>
                                <li><a href="#">Tournaments option 3</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="span4">
                        <ul class="breadcrumb path">
                            <li>
                                <a href="/"><i class="icon-home"></i></a> <span class="divider"> <i class="icon-chevron-right"></i> </span>
                            </li>
                            <li>
                                <a href="/teams/<%= team.id %>">Team</a> <span class="divider"> <i class="icon-chevron-right"></i> </span>
                            </li>
                            <li>
                                <a href="/teams/<%= team.id %>"><%= team.get('name') %></a> <span class="divider"> <i class="icon-chevron-right"></i> </span>
                            </li>
                            <li class="active"><strong>Offers</strong></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="teams-offers-list">
    <% if (!offers.length) { %>
        <div class="span12">
            <p>
                This team is not offering any sponsorships at this time.
                <a id="mail-admin" href="mailto:<%= teamAdmin.get('email') %>?subject=Sponsorhip offer request for team <%= team.get('name') %>&amp;body=A visitor to your teams page wished to sponsor you but you do not have anny offers at this time. Follow this link: https://spudmart.parseapp.com/dashboard/recipient/<%= team.id %> to set up your Amazon Payment account and Start Creating offers." title="Send a sponsorhip request" class="btn btn-small btn-spud-orange">Click here</a> to contact the team admin about doing so.
            </p>
        </div>
    <% } else { %>
        <% offers.forEach(function(offer) { %>
            <div class="span3">
                <div class="pricing-box-alt">
                    <div class="pricing-heading">
                        <div class="pricing-heading-title">
                            <%= offer.get('title') %>
                        </div>
                    </div>
                    <div class="offer-image">
                        <% if (offer.get('images').length) { %>
                            <img src="<%= offer.get('images')[0] %>" />
                        <% } else { %>
                            <img src="/media/img/no-image-available.png" class="no-image-available"/>
                        <% } %>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>
                                <i class="icon-dollar"></i>
                                <%= offer.get('donation') %>
                            </li>
                            <li>
                                <i class="icon-external-link-sign"></i>
                                <a href="/teams/<%= team.id %>/offers/<%= offer.id %>">Details</a>
                            </li>
                            <li>
                                <i class="icon-tasks"></i>
                                <% if (offer.get('available')) { %>
                                    <%= offer.get('available') %> / <%= offer.get('quantity') %>
                                <% } else { %>
                                    Sold out!
                                <% } %>
                            </li>
                            <li class="offer-end-date" data-end-date="<%= offer.get('endDate') %>">
                                <i class="icon-time"></i>
                            </li>
                            <li>
                            <% if (offer.get('video') != '' ) { %>
                                <i class="icon-facetime-video"></i>
                                <a href="<%= offer.get('video') %>" target="_blank">Video</a>
                            <% } else { %>
                                -
                            <% } %>
                            </li>
                            <li>
                                <i class="icon-money"></i>
                                Sponsor page
                            </li>
                        </ul>
                    </div>
                    <div class="pricing-action">
                        <%- donateButton(spudmartBaseURL, offer.get('isSoldOut'), team.id, offer.id) %>
                    </div>
                </div>
            </div>
        <% }) %>
    <% } %>
    </div>
</div>

<% include ../../parts/foot %>

<% include ../../parts/scripts %>

        <script type="text/javascript" src="/media/dashboard/js/jquery-ui-1.10.3.custom.min.js"></script>
        <script type="text/javascript" src="/media/js/switches.js"></script>
        <script type="text/javascript" src="/media/js/spud-container.js"></script>
        <script src="/media/js/moment-with-langs.js"></script>
        <script type="text/javascript" src="/media/js/equal-height.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.offer-end-date').each(function () {
                    var $element = $(this),
                        endDate = moment($element.data('end-date') + ' 23:59:59:999', 'DD-MM-YYYY HH:mm:ss:SSS');

                    $element.html('<i class="icon-time"></i>' + endDate.fromNow());
                });

                resizeImagesWithAspectRation($('.offer-image img'), {
                    maxWidth: $('.offer-image').width(),
                    maxHeight: 200
                });
            });

            $(window).load(function () {
                equalHeight($('.pricing-heading'));
            });
        </script>
        <script src="/media/js/donation-modal.js"></script>
    </body>
</html>